## Driver code comparing different QC / OD lists 
- QC: manual / visual quality checks
- OD: automatic outlier detection 

### Steps
- import CSVs from QC / OD procedures
- compare overlap of subjects

In [1]:
import sys
import numpy as np
import pandas as pd
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib_venn import venn2, venn3

sys.path.append('../')
from lib.data_handling import *
from lib.data_stats import *

### Data paths

In [31]:
proj_dir = '/home/nikhil/projects/CT_reproduce/code/compare-surf-tools/'
data_dir = proj_dir + 'data/'
qc_dir =  '/home/nikhil/projects/CT_reproduce/data/QC/'
outlier_dir = data_dir + 'outliers/'

# Gleb / Marten visual QC
manual_outlier_file = qc_dir + 'master_QC_table.csv'

# Automated outliers
pipeline_outlier_file = outlier_dir + 'pipeline_outlier_data.csv'

aparc_outlier_file = outlier_dir + 'aparc_outlier_data.csv'
destr_outlier_file = outlier_dir + 'des_outlier_data.csv'
glass_outlier_file = outlier_dir + 'glas_outlier_data.csv'

highdim_lh_ctrl = outlier_dir + 'outlier_lh_con.csv'
highdim_rh_ctrl = outlier_dir + 'outlier_rh_con.csv'

outlier_file_dict = {'manual':manual_outlier_file,
                    'auto_pipline': pipeline_outlier_file,
                    'auto_aparc': aparc_outlier_file,
                    'auto_destr': destr_outlier_file,
                    'auto_glass': glass_outlier_file,
                    'auto_highdim_lh_ctrl':highdim_lh_ctrl,
                    'auto_highdim_rh_ctrl':highdim_rh_ctrl,}

# qc_criterion = ('QC_maarten',[0]) # keep subs
# qc_criterion = ('QC_gleb',['1','-+1']) # keep subs
# qc_criterion = ('outlier_all_data',[0])

### Global Var

In [32]:
subject_ID_col = 'SubjID'

In [54]:
outlier_data_dict = {}
for key in outlier_file_dict.keys():
    df = pd.read_csv(outlier_file_dict[key], dtype={'SubjID': int})
    if key == 'manual':
        df.loc[df['QC_maarten'] != 0.0, 'QC_maarten'] = 1.0
        df.loc[df['QC_gleb'] == '1', 'QC_gleb'] = 0.0
        df.loc[df['QC_gleb'] == '-+1', 'QC_gleb'] = 0.0
        df.loc[df['QC_gleb'] != 0.0, 'QC_gleb'] = 1.0
        
    outlier_data_dict[key] = df
    print('shape of QC file {}: {}'.format(key,df.shape))

shape of QC file auto_glass: (1047, 4)
shape of QC file auto_destr: (1047, 4)
shape of QC file auto_highdim_rh_ctrl: (542, 3)
shape of QC file manual: (1031, 6)
shape of QC file auto_highdim_lh_ctrl: (542, 3)
shape of QC file auto_pipline: (3890, 4)
shape of QC file auto_aparc: (1047, 4)

In [73]:
master_QC_OD_df = pd.DataFrame(columns=[subject_ID_col])
master_QC_OD_df[subject_ID_col] = outlier_data_dict['auto_aparc'][subject_ID_col]

# Manual
manual_df = outlier_data_dict['manual'][[subject_ID_col,'QC_maarten','QC_gleb']]
master_QC_OD_df = pd.merge(master_QC_OD_df, manual_df, on=subject_ID_col, how='left')

# Pipelines
pipe_df = outlier_data_dict['auto_pipline']
for pipe in pipe_df['pipeline'].unique():
    df = pipe_df[pipe_df['pipeline']==pipe][[subject_ID_col,'outlier_ind']]
    df = df.rename(columns={'outlier_ind':'{}_outlier_ind'.format(pipe)})
    master_QC_OD_df = pd.merge(master_QC_OD_df, df, on=subject_ID_col, how='left')

# Atlases
for atlas in ['aparc','destr','glass']:
    atlas_df = outlier_data_dict['auto_{}'.format(atlas)][[subject_ID_col,'outlier_all_data']]
    atlas_df = atlas_df.rename(columns={'outlier_all_data':'{}_outlier_all_data'.format(atlas)})
    master_QC_OD_df = pd.merge(master_QC_OD_df, atlas_df, on=subject_ID_col, how='left')

# High-dim (outlier_ind)
for highdim in ['lh_ctrl','rh_ctrl']:
    highdim_df = outlier_data_dict['auto_highdim_{}'.format(highdim)][['SUB_ID','outlier_ind']]
    highdim_df = highdim_df.rename(columns={'SUB_ID':subject_ID_col,'outlier_ind':'{}_outlier_ind'.format(highdim)})
    master_QC_OD_df = pd.merge(master_QC_OD_df, highdim_df, on=subject_ID_col, how='left')

In [74]:
master_QC_OD_df

,SubjID,QC_maarten,QC_gleb,ants_outlier_ind,civet_outlier_ind,fs51_outlier_ind,fs53_outlier_ind,fs60_outlier_ind,aparc_outlier_all_data,destr_outlier_all_data,glass_outlier_all_data,lh_ctrl_outlier_ind,rh_ctrl_outlier_ind
0,50002,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
1,50003,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
2,50004,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
3,50006,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
4,50007,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
5,50008,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN
6,50009,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
7,50010,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
8,50011,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
9,50012,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
10,50013,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
11,50014,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
12,50015,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
13,50016,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
14,50019,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,1,1,NaN,NaN
15,50020,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
16,50022,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
17,50023,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
18,50024,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
19,50025,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1,1,1,NaN,NaN
20,50026,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
21,50027,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
22,50028,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
23,50029,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
24,50030,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1.0,1.0
25,50031,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0
26,50032,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1.0,1.0
27,50033,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0,0.0
28,50034,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0
29,50035,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,51557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0,0.0
1018,51558,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1,1,1,1.0,1.0
1019,51559,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1,1,1,1.0,1.0
1020,51560,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,0.0,0.0
1021,51561,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,1.0,1.0
1022,51562,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,0.0,0.0
1023,51563,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1.0,1.0
1024,51564,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,1.0,1.0
1025,51565,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1.0,1.0
1026,51566,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,0.0,0.0
1027,51567,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1.0,1.0
1028,51568,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,1.0,1.0
1029,51569,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,1.0,1.0
1030,51571,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
1031,51572,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1,1,1,NaN,NaN
1032,51573,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
1033,51574,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
1034,51575,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
1035,51576,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
1036,51577,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1,1,1,NaN,NaN
1037,51578,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN
1038,51579,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
1039,51580,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
1040,51581,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
1041,51582,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN
1042,51583,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,NaN,NaN
1043,51584,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN
1044,51585,0.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,0,NaN,NaN
1045,51606,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN
1046,51607,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN

In [67]:
outlier_data_dict['auto_highdim_lh_ctrl']

     SUB_ID       age  outlier_ind
0     50822 -0.574714            0
1     50785 -0.840852            0
2     50788 -0.856355            0
3     50777 -1.096655            0
4     50818 -0.657398            0
5     50773 -0.780131            0
6     50812 -0.892529            0
7     50779 -0.964878            0
8     50820 -1.034642            0
9     50817 -0.892529            0
10    50816 -0.923536            0
11    50811 -0.532081            0
12    50787 -0.782715            0
13    50783 -0.836976            0
14    50778 -0.923536            0
15    50776 -0.979089            0
16    50782 -0.865399            0
17    50813 -0.786591            0
18    50809 -1.091487            0
19    50819 -0.926120            0
20    50780 -0.911908            0
21    50808 -0.747833            0
22    50814 -1.087611            0
23    50821 -0.737498            0
24    50774 -0.805970            0
25    50775 -0.759460            0
26    50789 -0.977797            0
27    50810 -0.649646            0
28    50790 -1.039810            0
29    50781 -0.979089            0
..      ...       ...          ...
512   50375 -0.681945            0
513   50355 -0.772380            0
514   50380  0.067376            0
515   50347 -0.165172            0
516   50373  0.041537            0
517   50359 -0.836976            0
518   50339  0.144891            0
519   50353 -0.488155            0
520   50368  0.131972            0
521   50666  1.824402            0
522   50656  1.436823            1
523   50668  1.049243            0
524   50659  1.307630            0
525   50665  2.082788            0
526   50664  0.532471            1
527   50660  1.049243            0
528   50663  0.532471            0
529   51306 -0.674193            0
530   51313 -0.454565            0
531   51307 -0.610888            0
532   51309 -0.643187            0
533   51316 -0.545000            0
534   51304 -0.820181            0
535   51314 -0.485571            0
536   51312 -0.513994            0
537   51311 -0.636727            0
538   51303 -0.501074            0
539   51315 -0.419683            0
540   51305 -0.547584            0
541   51308 -0.915784            0

[542 rows x 3 columns]